In [128]:
import numpy as np
import pandas as pd

In [129]:
data = {
    'Name': ['India' , 'Australia' , 'London' , 'India'],
#     'Temp' : [31,4,10,22]
}

In [132]:
mydata = pd.DataFrame(data)

In [139]:
gdata = mydata.groupby('Name')

In [140]:
gdata

In [142]:
for i,j in gdata:
    print(i)
    print()
    print(j)

Australia

        Name  Temp
1  Australia     4
India

    Name  Temp
0  India    31
3  India    22
London

     Name  Temp
2  London    10

In [143]:
gdata.get_group('India')

    Name  Temp
0  India    31
3  India    22

In [149]:
mydata.max()

Name    London
Temp        31
dtype: object

In [148]:
mydata[['Temp']].max()

Temp    31
dtype: int64